extends ../layout

block styles
    link(rel="stylesheet", href="/css/dashboard/dashboard.css")
    link(rel="stylesheet", href="/css/dashboard/order-progress.css")

block content
    .dashboard-view 
        .dashboard-cont-view
            .content
                .stat-view
                    .item 
                        .info 
                            i.fa.fa-tag.skyblue
                            h1 محصولات
                        .num 0
                    .item 
                        .info 
                            i.fa.fa-book.yellow
                            h1 دوره‌ها
                        .num 0
                    .item 
                        .info 
                            i.fa.fa-heart.green
                            h1 علاقه‌مندی‌ها
                        .num 0
            .content
                //- -for(var i=0; i<orders.length; i++){
                //-     -var order = orders[i];
                //-     include order-progress
                //- -}
        .sidebar-view 
            include sidebar
        


                 
    script(src="/js/dashboard.js") 
    script.
        document.getElementById('sidebar-link-1').classList.add('active');

