extends ../layout

block styles
    link(rel="stylesheet", href="/css/dashboard/dashboard.css")
    link(rel="stylesheet", href="/css/dashboard/admin-discount.css")
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/list-view.css")
    link(rel="stylesheet", href="/css/blog/admin-add-content.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/froala/css/froala_editor.css")
    link(rel="stylesheet", href="/froala/css/froala_style.css")
    link(rel="stylesheet", href="/froala/css/plugins/code_view.css")
    link(rel="stylesheet", href="/froala/css/plugins/image_manager.css")
    link(rel="stylesheet", href="/froala/css/plugins/image.css")
    link(rel="stylesheet", href="/froala/css/plugins/table.css")
    link(rel="stylesheet", href="/froala/css/plugins/video.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css")
    link(rel="stylesheet", href="/froala/css/plugins/colors.css")
    link(rel="stylesheet", href="/froala/css/plugins/code_view.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css")
    link(rel="stylesheet", href="/froala/css/plugins/code_block.css")
    
block content
    .dashboard-view 
        .dashboard-cont-view
            .content
                .blog-form-container
                    h1.title-blog ساخت محتوا جدید
                    form.blog-form(method='POST', action='/upload/admin-blog-create' enctype="multipart/form-data")
                        label(for='title') عنوان:
                        input.title(type='text', name='title', required)
                        br
                        label(for='shortDescription') توضیحات کوتاه:
                        br
                        textarea.short-description(name="shortDescription") 
                        br
                        label(for='coverImage') عکس کاور:
                        input.file(type="file" name="coverImage")
                        br
                        label(for='author') نویسنده:
                        input.title(type='text', name='author', required)
                        br
                        label(for='category') دسته بندی:
                        input.title(type='text', name='category', required)
                        br
                        label(for='tags') تگ ها:
                        input.title(type='text', name='tags', required)
                        br
                        label(for='content') محتوا:
                        textarea#edit(name="content" style="margin-top: 30px;" placeholder="Type some text")
                        
                        script.
                            new FroalaEditor("div#froala-editor");
                        button.submit-btn(type='submit') ثبت

        .sidebar-view 
            include sidebar
        
    script(src="/js/dashboard.js") 
    script.
        document.getElementById('sidebar-link-11').classList.add('active');

    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/xml/xml.min.js")
    script(type="text/javascript" src="/froala/js/froala_editor.min.js")
    script(type="text/javascript" src="/froala/js/plugins/align.min.js")
    script(type="text/javascript" src="/froala/js/plugins/code_beautifier.min.js")
    script(type="text/javascript" src="/froala/js/plugins/code_view.min.js")
    script(type="text/javascript" src="/froala/js/plugins/draggable.min.js")
    script(type="text/javascript" src="/froala/js/plugins/image.min.js")
    script(type="text/javascript" src="/froala/js/plugins/image_manager.min.js")
    script(type="text/javascript" src="/froala/js/plugins/link.min.js")
    script(type="text/javascript" src="/froala/js/plugins/lists.min.js")
    script(type="text/javascript" src="/froala/js/plugins/paragraph_format.min.js")
    script(type="text/javascript" src="/froala/js/plugins/paragraph_style.min.js")
    script(type="text/javascript" src="/froala/js/plugins/table.min.js")
    script(type="text/javascript" src="/froala/js/plugins/video.min.js")
    script(type="text/javascript" src="/froala/js/plugins/url.min.js")
    script(type="text/javascript" src="/froala/js/plugins/entities.min.js")
    script(type="text/javascript" src="/froala/js/plugins/colors.min.js")
    script(type="text/javascript" src="/froala/js/plugins/font_size.min.js")
    script(type="text/javascript" src="/froala/js/plugins/font_family.min.js")
    script(type="text/javascript" src="/froala/js/plugins/code_beautifier.min.js")
    script(type="text/javascript" src="/froala/js/plugins/code_view.min.js")
    script(type="text/javascript" src="/froala/js/plugins/code_block.min.js")
    script.
        (function () {
        const editorInstance = new FroalaEditor('#edit', {
            enter: FroalaEditor.ENTER_P,
            placeholderText: null,
            direction: 'rtl',
            align: 'right',
            // Simplified toolbar with code block prominently displayed
            toolbarButtons: [
                'bold', 'italic', 'underline', '|',
                'textColor', 'backgroundColor', '|', 
                'fontSize', 'fontFamily', '|',
                'alignLeft', 'alignCenter', 'alignRight', '|',
                'formatOL', 'formatUL', 'quote', '|',
                'insertLink', 'insertImage', 'insertTable', '|',
                'codeBlock', '|',  // Code block button prominently placed
                'undo', 'redo', 'fullscreen', 'html'
            ],
            // Code block configuration
            codeBlockLanguages: {
                'python': 'Python',
                'javascript': 'JavaScript',
                'java': 'Java',
                'cpp': 'C++',
                'c': 'C',
                'csharp': 'C#',
                'php': 'PHP',
                'ruby': 'Ruby',
                'go': 'Go',
                'swift': 'Swift',
                'kotlin': 'Kotlin',
                'html': 'HTML',
                'css': 'CSS',
                'scss': 'SCSS',
                'json': 'JSON',
                'xml': 'XML',
                'sql': 'SQL',
                'bash': 'Bash',
                'powershell': 'PowerShell',
                'yaml': 'YAML',
                'markdown': 'Markdown',
                'typescript': 'TypeScript',
                'r': 'R',
                'matlab': 'MATLAB',
                'perl': 'Perl',
                'lua': 'Lua'
            },
            // Code view configuration
            codeMirror: true,
            codeMirrorOptions: {
                lineNumbers: true,
                mode: 'text/html',
                theme: 'default',
                indentUnit: 2,
                lineWrapping: true,
                foldGutter: true,
                gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
            },
            // Code beautifier options
            codeBeautifierOptions: {
                end_with_newline: true,
                indent_inner_html: true,
                indent_char: ' ',
                indent_size: 2,
                wrap_line_length: 0
            },
            // Color options
            colorsBackground: [
                '#61BD6D', '#1ABC9C', '#54ACD2', '#2C82C9', '#9365B8', '#475577', '#CCCCCC',
                '#41A85F', '#00A885', '#3D8EB9', '#2969B0', '#553982', '#28324E', '#000000',
                '#F7DA64', '#FBA026', '#EB6B56', '#E25041', '#A38F84', '#EFEFEF', '#FFFFFF',
                '#FAC51C', '#F37934', '#D14841', '#B8312F', '#7C706B', '#D1D5D8', 'REMOVE'
            ],
            colorsText: [
                '#61BD6D', '#1ABC9C', '#54ACD2', '#2C82C9', '#9365B8', '#475577', '#CCCCCC',
                '#41A85F', '#00A885', '#3D8EB9', '#2969B0', '#553982', '#28324E', '#000000',
                '#F7DA64', '#FBA026', '#EB6B56', '#E25041', '#A38F84', '#EFEFEF', '#FFFFFF',
                '#FAC51C', '#F37934', '#D14841', '#B8312F', '#7C706B', '#D1D5D8', 'REMOVE'
            ],
            // Image upload configuration
            imageUploadURL: '/upload/blog-upload-image',
            imageUploadParams: {
                id: 'my_editor'
            },
            imageUploadMethod: 'POST',
            imageMaxSize: 100 * 1024 * 1024, // 100MB
            imageAllowedTypes: ['jpeg', 'jpg', 'png', 'gif', 'webp'],
            events: {
            initialized: function () {
                const editor = this
                // Set RTL direction and right alignment after initialization
                this.$el.css('direction', 'rtl');
                this.$el.css('text-align', 'right');
                
                this.el.closest('form').addEventListener('submit', function (e) {
                // Sync the editor content with the textarea before submission
                editor.html.sync();
                console.log('Form content:', editor.$oel.val());
                // Form will now submit normally
                })
            },
            'codeBlock.insert': function () {
                console.log('Code block inserted');
            }
            }
        })
        })()
        //- (function () {
        //- const editorInstance = new FroalaEditor('#edit', {
        //-     enter: FroalaEditor.ENTER_P,
        //-     placeholderText: null,
        //-     direction: 'rtl',
        //-     align: 'right',
        //-     // Toolbar configuration with color tools and code block features
        //-     toolbarButtons: {
        //-         'moreText': {
        //-             'buttons': ['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', 'textColor', 'backgroundColor', 'inlineClass', 'inlineStyle', 'clearFormatting']
        //-         },
        //-         'moreParagraph': {
        //-             'buttons': ['alignLeft', 'alignCenter', 'alignRight', 'alignJustify', 'formatOL', 'formatUL', 'paragraphFormat', 'paragraphStyle', 'lineHeight', 'outdent', 'indent', 'quote']
        //-         },
        //-         'moreRich': {
        //-             'buttons': ['insertLink', 'insertImage', 'insertVideo', 'insertTable', 'codeBlock', 'emoticons', 'fontAwesome', 'specialCharacters', 'embedly', 'insertFile', 'insertHR']
        //-         },
        //-         'moreMisc': {
        //-             'buttons': ['undo', 'redo', 'fullscreen', 'print', 'getPDF', 'spellChecker', 'selectAll', 'html', 'help'],
        //-             'align': 'right',
        //-             'buttonsVisible': 2
        //-         }
        //-     },
        //-     // Code block configuration
        //-     codeBlockLanguages: {
        //-         'python': 'Python',
        //-         'javascript': 'JavaScript',
        //-         'java': 'Java',
        //-         'cpp': 'C++',
        //-         'c': 'C',
        //-         'csharp': 'C#',
        //-         'php': 'PHP',
        //-         'ruby': 'Ruby',
        //-         'go': 'Go',
        //-         'swift': 'Swift',
        //-         'kotlin': 'Kotlin',
        //-         'html': 'HTML',
        //-         'css': 'CSS',
        //-         'scss': 'SCSS',
        //-         'json': 'JSON',
        //-         'xml': 'XML',
        //-         'sql': 'SQL',
        //-         'bash': 'Bash',
        //-         'powershell': 'PowerShell',
        //-         'yaml': 'YAML',
        //-         'markdown': 'Markdown',
        //-         'typescript': 'TypeScript',
        //-         'r': 'R',
        //-         'matlab': 'MATLAB',
        //-         'perl': 'Perl',
        //-         'lua': 'Lua'
        //-     },
        //-     // Code view configuration
        //-     codeMirror: true,
        //-     codeMirrorOptions: {
        //-         lineNumbers: true,
        //-         mode: 'text/html',
        //-         theme: 'default',
        //-         indentUnit: 2,
        //-         lineWrapping: true,
        //-         foldGutter: true,
        //-         gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
        //-     },
        //-     // Code beautifier options
        //-     codeBeautifierOptions: {
        //-         end_with_newline: true,
        //-         indent_inner_html: true,
        //-         indent_char: ' ',
        //-         indent_size: 2,
        //-         wrap_line_length: 0
        //-     },
        //-     // Color options
        //-     colorsBackground: [
        //-         '#61BD6D', '#1ABC9C', '#54ACD2', '#2C82C9', '#9365B8', '#475577', '#CCCCCC',
        //-         '#41A85F', '#00A885', '#3D8EB9', '#2969B0', '#553982', '#28324E', '#000000',
        //-         '#F7DA64', '#FBA026', '#EB6B56', '#E25041', '#A38F84', '#EFEFEF', '#FFFFFF',
        //-         '#FAC51C', '#F37934', '#D14841', '#B8312F', '#7C706B', '#D1D5D8', 'REMOVE'
        //-     ],
        //-     colorsText: [
        //-         '#61BD6D', '#1ABC9C', '#54ACD2', '#2C82C9', '#9365B8', '#475577', '#CCCCCC',
        //-         '#41A85F', '#00A885', '#3D8EB9', '#2969B0', '#553982', '#28324E', '#000000',
        //-         '#F7DA64', '#FBA026', '#EB6B56', '#E25041', '#A38F84', '#EFEFEF', '#FFFFFF',
        //-         '#FAC51C', '#F37934', '#D14841', '#B8312F', '#7C706B', '#D1D5D8', 'REMOVE'
        //-     ],
        //-     // Image upload configuration
        //-     imageUploadURL: '/upload/blog-upload-image',
        //-     imageUploadParams: {
        //-         id: 'my_editor'
        //-     },
        //-     imageUploadMethod: 'POST',
        //-     imageMaxSize: 100 * 1024 * 1024, // 5MB
        //-     imageAllowedTypes: ['jpeg', 'jpg', 'png', 'gif', 'webp'],
        //-     events: {
        //-     initialized: function () {
        //-         const editor = this
        //-         // Set RTL direction and right alignment after initialization
        //-         this.$el.css('direction', 'rtl');
        //-         this.$el.css('text-align', 'right');
                
        //-         this.el.closest('form').addEventListener('submit', function (e) {
        //-         // Sync the editor content with the textarea before submission
        //-         editor.html.sync();
        //-         console.log('Form content:', editor.$oel.val());
        //-         // Form will now submit normally
        //-         })
        //-     }
        //-     }
        //- })
        //- })()