-if(user.role == 'admin'){
    .sidebar 
        .user-info 
            .user-icon 
                i.fa.fa-user-circle
            .info 
                h1= user.fullname
                a.edit(href="/dashboard/user-edit") 
                    i.fa.fa-edit
                    | ویرایش اطلاعات
        .nav-view 
            a.link#sidebar-link-1(href="/dashboard")
                i.fa.fa-dashboard
                | داشبورد
            a.link#sidebar-link-2(href="/dashboard/admin-users")
                i.fa.fa-users
                | مدیریت کاربران
            a.link#sidebar-link-3(href="/dashboard/admin-shop")
                i.fa.fa-shopping-cart
                | فروشگاه
            a.link#sidebar-link-4(href="/dashboard/admin-courses")
                i.fa.fa-book
                | دوره‌های آموزشی
            a.link#sidebar-link-5(href="/dashboard/admin-3dfiles")
                i.fa.fa-file-text
                | فایل‌های سه بعدی
            a.link#sidebar-link-6(href="#")
                i.fa.fa-building
                | پرینت 3 بعدی
            a.link#sidebar-link-7(href="#")
                i.fa.fa-phone
                | تیکت ها
            a.link#sidebar-link-8(href="/dashboard/admin-discount")
                i.fa.fa-diamond
                | کدهای تخفیف
            a.link#sidebar-link-9(href="#")
                i.fa.fa-dollar
                | مالی
            a.logout(href="/users/logout")
                //- i.fa.fa-dashboard
                | خروج از حساب کاربری
-}else{
    .sidebar 
        .user-info 
            .user-icon 
                i.fa.fa-user-circle
            .info 
                h1= user.fullname
                a.edit(href="/dashboard/user-edit") 
                    i.fa.fa-edit
                    | ویرایش اطلاعات
        .nav-view 
            a.link#sidebar-link1(href="/dashboard")
                i.fa.fa-dashboard
                | داشبورد
            a.link#sidebar-link2(href="#")
                i.fa.fa-shopping-cart
                | سفارش‌ها
            a.link#sidebar-link3(href="#")
                i.fa.fa-book
                | دوره‌های من
            a.link#sidebar-link4(href="#")
                i.fa.fa-building
                | سفارش پرینت 3 بعدی
            a.link#sidebar-link5(href="#")
                i.fa.fa-phone
                | پشتیبانی
            a.link#sidebar-link6(href="#")
                i.fa.fa-heart
                | علاقه مندی‌ها
            a.logout(href="/users/logout")
                //- i.fa.fa-dashboard
                | خروج از حساب کاربری
-}