extends ../layout

block styles
    link(rel="stylesheet", href="/css/dashboard/dashboard.css")
    link(rel="stylesheet", href="/css/dashboard/admin-course.css")
    link(rel="stylesheet", href="/css/triple-card.css")

block content
    .dashboard-view 
        .dashboard-cont-view
            .content
                include ./courses-list
        .sidebar-view 
            include sidebar
    script.
        document.getElementById('sidebar-link3').classList.add('active');
    script(src="/js/dashboard.js") 


