.sidebar 
    .user-info 
        h1 دسته بندی‌ها
    .nav-view 
        -for(var i=0; i<courseCategories.length; i++){
            -if(category && category == courseCategories[i])
                a.link.active#sidebar-link-1(href="/courses?category=#{courseCategories[i]}")
                    | #{courseCategories[i]}
            -else
                a.link#sidebar-link-1(href="/courses?category=#{courseCategories[i]}")
                    | #{courseCategories[i]}
        -}
        
