link(rel="stylesheet", href="/css/courses/support.css")
.sidebar 
    .user-info 
        h1 پشتیبانی دوره‌ها
    .nav-view 
        .support
            p جهت ارتباط با واحد پشتیبانی و اطلاع از برنامه دوره ها با شماره زیر تماس گرفته و یا در شبکه های اجتماعی با ما در ارتباط باشید.
            .item 
                .label تلفن
                .val 
                    i.fa.fa-phone
                    a(href="tel:09197228658") 09197228658
            .item
                .label واتساپ
                .val 
                    img(src="/img/WhatsApp.webp")
                    a(href="https://wa.me/989336448037") +989336448037
            .item 
                .label تلگرام
                .val 
                    img(src="/img/telegram.webp")
                    a(href="https://t.me/fdmxfarhan") @fdmxfarhan