link(rel="stylesheet", href="/css/components/timeline.css")

h1.desc-title زمان کلاس های آنلاین
    p.desc کلاس های آنلاین در چهار ترم بهار، تابستان، پاییز و زمستان برگزار می‌شود. زمان ثبت نام و شروع کلاس ها به صورت زیر می‌باشد.
    .timeline 
        h1.time-title
            i.fa.fa-calendar-alt 
            | 3 مرداد
        .bulet-container
            .bulet-view
                .bulet 
                .line 
                .bulet 
            .text
                h1 ثبت نام ترم تابستان
                p اطلاع رسانی از طریق پیامک 
                    a(href='') عضویت در خبرنامه
        h1.time-title
            i.fa.fa-calendar-alt 
            | 15 مرداد
        .bulet-container
            .bulet-view
                .bulet 
                .line 
                .bulet 
            .text
                h1 کلاس های ترم تابستان 
                p 16 جلسه - دو روز در هفته
        h1.time-title
            i.fa.fa-calendar-alt 
            | 15 شهریور
        .bulet-container
            .bulet-view
                .bulet 
                .line 
                .bulet 
            .text
                h1 صدور گواهی دوره های آموزشی
                p دانلود گواهی از پنل کاربری
        h1.time-title
            i.fa.fa-calendar-alt 
            | 20 شهریور
        .bulet-container
            .bulet-view
                .bulet 
                .line 
                .bulet 
            .text
                h1 ثبت نام ترم پاییز
                p اطلاع رسانی از طریق پیامک 
                    a(href='') عضویت در خبرنامه
        h1.time-title
            i.fa.fa-calendar-alt 
            | 15 مهر
        .bulet-container
            .bulet-view
                .bulet 
                .line 
                .bulet 
            .text
                h1 کلاس‌های ترم پاییز
                p 16 جلسه - یک روز در هفته
        h1.time-title
            i.fa.fa-calendar-alt 
            | 15 آذر