if courseDiscount
    .discount-input-view 
        .code کد تخفیف: #{courseDiscount.code}
        a.delete(href="/courses/delete-discount?courseID=#{course._id}") 
            i.fa.fa-times   
else
    .discount-input-view 
        form(action="/courses/add-discount")
            input.hide(type="text" name="courseID" value="#{course._id}")
            input.text(type="text" name="code" placeholder="کد تخفیف دارید؟")
            input.submit(type="submit" value="ثبت")