-if(lang == 'EN'){
    link(rel="stylesheet", href="/css/footer.css")
    footer 
        h1.slogan Living, learning, and leveling up one day at a time.
        .contact-list 
            a(href="https://instagram.com/ikiurobotic" target="_blank") 
                i.fa.fa-instagram 
            a(href="https://t.me/fdmxfarhan" target="_blank") 
                i.fa.fa-telegram 
            a(href="mailto:fdmxfarhan@yahoo.com") 
                i.fa.fa-envelope 
            a(href="tel:+989336448037") 
                i.fa.fa-phone 
        .developer-info Designed by Farhan
-}else{
    link(rel="stylesheet", href="/css/footer-fa.css")
    footer 
        h1.slogan روبه جلو حرکت کنید، حتی با قدم‌های کوچک!!
        .contact-list 
            a(href="https://instagram.com/ikiurobotic" target="_blank") 
                i.fa.fa-instagram 
            a(href="https://t.me/fdmxfarhan" target="_blank") 
                i.fa.fa-telegram 
            a(href="mailto:fdmxfarhan@yahoo.com") 
                i.fa.fa-envelope 
            a(href="tel:+989336448037") 
                i.fa.fa-phone 
        .developer-info طراحی شده توسط Farhan
-}