-if(lang == 'EN'){
    link(rel="stylesheet", href="/css/footer.css")
    footer 
        h1.slogan Living, learning, and leveling up one day at a time.
        .contact-list 
            //- a(href="https://instagram.com/ikiurobotic" target="_blank") 
            //-     i.fa.fa-instagram 
            //- a(href="https://t.me/fdmxfarhan" target="_blank") 
            //-     i.fa.fa-telegram 
            //- a(href="mailto:fdmxfarhan@yahoo.com") 
            //-     i.fa.fa-envelope 
            //- a(href="tel:+989336448037") 
            //-     i.fa.fa-phone 
        .developer-info Designed by Farhan
-}else{
    link(rel="stylesheet", href="/css/footer-fa.css")
    footer 
        .four-part-view 
            .part 
                h1 راهنمای خرید
                a.link(href="#") نحوه ثبت سفارش
                a.link(href="#") رویه ارسال سفارش
                a.link(href="#") شیوه های پرداخت
            .part 
                h1 دسترسی سریع
                a.link(href="/products") محصولات
                a.link(href="/courses") دوره‌های آموزشی
                a.link(href="/print3d") سفارش پرینت سه بعدی
            .part 
                h1 خدمات مشتریان
                a.link(href="#") پرسش های متداول
                a.link(href="#") شرایط و قوانین
                a.link(href="#") درخواست پروژه
            .part 
                h1 ارتباط با ما
                .note 
                    .bold توجه: 
                    .text تمامی سفارشات به صورت اینترنتی بوده و فروش حضوری امکان پذیر نمی‌باشد.
                br
                .address 
                    i.fa.fa-map-marker-alt 
                    | تهران، پانزده خورداد، چهارراه گلوبندک، خیابان بادامچی، نبش کوچه تابش، پلاک 1، واحد 1
                br
                .phone 
                    i.fa.fa-phone 
                    a(href="tel:09336448037") 09336448037
                br
                .contact-list 
                    a(href="https://instagram.com/tehraninstruments" target="_blank") 
                        img(src="/img/instagram.png", alt="")
                    a(href="https://t.me/tehraninstruments" target="_blank") 
                        img(src="/img/telegram.png", alt="")
                    
            
        //- h1.slogan روبه جلو حرکت کنید، حتی با قدم‌های کوچک!!

        //- .developer-info طراحی شده توسط Farhan
        .credentials
            a(referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=525450&Code=4Q5kZwvjpoLFyFGREZAE9bp8oL6KSOcw')
                img(referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=525450&Code=4Q5kZwvjpoLFyFGREZAE9bp8oL6KSOcw' alt='' style='cursor:pointer' code='4Q5kZwvjpoLFyFGREZAE9bp8oL6KSOcw')
-}