header.header2
    canvas(id="nokey" width="800" height="800")
    .header2-container
        h1.main-title مرکز تحقیقات رباتیک و هوش مصنوعی
        .triple-section 
            .part.small 
                img(src="/img/home2/course.jpg", alt="robot")
                h1 دوره های آموزشی 
                p دوره های آموزشی آفلاین و کلاس های آنلاین برنامه نویسی و رباتیک
                a(href="/courses")
                    i.fa.fa-
                    | مشاهده دوره ها
            .part.big 
                img(src="/img/home2/arduino.webp", alt="robot")
                h1 فروشگاه قطعات الکترونیک و رباتیک
                p انواع قطعات الکترونیکی، مکانیکی و رباتیک در فروشگاه مرکز تحقیقات رباتیک
                a(href="/products")
                    i.fa.fa-
                    | خرید از فروشگاه
            .part.small 
                img(src="/img/home2/3dprint.webp", alt="robot")
                h1 سفارش پرینت سه بعدی
                p سفارش پرینت سه بعدی با انواع فیلامنت های PLA و ABS در رنگ های متنوع
                a(href="/print3d")
                    i.fa.fa-
                    | سفارش قطعه