body{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'iransans';
    /* direction: ltr; */
    background-color: var(--white);
    direction: rtl;
    text-align: right;
    background-color: var(--lightergray);
}
.product-view{
    /* background-color: var(--lightergray); */
    width: 85%;
    margin: 2vw auto;
    overflow: hidden;
    padding: 0;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: row;
}
.product-view .product-cont-view{
    background-color: var(--verylightblue);
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    width: 50%;
}
.product-view .sidebar-view{
    width: 49%;
    margin-left: 0.3%;
}
.product-view .sidebar{
    width: 100%;
    margin: 0 auto;
    background-color: var(--verylightblue);
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    overflow: hidden;
}
.product-view .product-cont-view .content{
    width: 100%;
    margin: 0 auto;
    background-color: var(--white);
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    overflow: hidden;
    position: relative;
}
.product-view .sidebar .user-info{
    background-color: var(--purple);
    color: white;
    overflow: hidden;
}
.product-view h1.preview-title{
    background-color: var(--purple);
    color: white;
    overflow: hidden;
    font-size: 1.3vw;
    padding: 1vw 2vw;
    margin: 0;
    text-align: left;
}
.product-view .sidebar .user-info h1{
    font-size: 1.3vw;
    /* margin-top: 2.1vw; */
    /* margin-bottom: 0.5vw; */
    margin: 0;
    padding: 1vw 2vw;
}
.product-view .sidebar .user-info .info a.edit{
    color: var(--lightergray);
    font-size: 0.9vw;
    margin: 0;
    padding: 0;
    margin-bottom: 2vw;
    display: block;
}
.product-view .sidebar .user-info .info a.edit:hover{
    color: var(--blue);
}
.product-view .sidebar .user-info .info a.edit i{
    padding-left: 0.5vw;
}
.product-view .sidebar .nav-view a.link{
    display: block;
    color: var(--text);
    padding: 0.5vw 1vw;
    border-bottom: 0.1vw solid var(--lightergray);
    font-size: 1vw;
    background-color: var(--white);
}
.product-view .sidebar .nav-view a.link.active{
    color: var(--purple);
}
.product-view .sidebar .nav-view a.link:hover{
    background-color: var(--light);
}
.product-view .sidebar .nav-view a.link i{
    padding-left: 1vw;
    color: var(--lightgray);
}
.product-view .sidebar .nav-view a.link:hover i{
    color: var(--purple);
}
.product-view .sidebar .nav-view a.logout{
    display: block;
    color: var(--purple);
    text-align: center;
    padding: 0.8vw 1vw;
    font-size: 1.1vw;
    background-color: var(--white);
}
.product-view .sidebar .nav-view a.logout:hover{
    /* background-color: var(--lightergray); */
    color: var(--blue);
}
.product-view .content .sort-control{
    position: relative;
}
.stl_cont{
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    background-color: var(--verylightblue);
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}
.print3d-info {
    width: 90%;
    margin: auto;
}
.print3d-info h1{
    font-size: 1.2vw;
    margin: 2vw 0;
    padding: 0;
    color: var(--text);
    margin-bottom: 0.6vw;
}
.print3d-info h1 i{
    padding-left: 0.5vw;
}
.print3d-info p{
    font-size: 1vw;
    margin: 0;
    padding: 0;
    color: var(--text);
    text-align: justify;
    margin-bottom: 1vw;
}
.print3d-info .label{
    font-size: 1.1vw;
    color: var(--gray);
    text-align: center;
    margin-bottom: 3vw;
}
.print3d-info .submit {
    text-align: center;
    margin-bottom: 2vw;
}
.print3d-info .submit button{
    background-color: var(--green);
    border-radius: 1vw;
    border: none;
    padding: 0.8vw 0;
    font-size: 1.2vw;
    color: white;
    font-family: 'iransans';
    outline: none;
    cursor: pointer;
    width: 100%;
}

.print3d-info .submit button i{
    padding-left: 1vw;
}
.print3d-info .submit button:hover{
    background-color: var(--red);
}
.print3d-info .upload-area{
    border: 0.25vw dashed var(--blue);
    position: relative;
    cursor: pointer;
    padding: 2vw 0;
    text-align: center;
    color: #798AAF;
    font-family: 'iransans';
    font-size: 1.3vw;
    width: 98%;
    border-radius: 1vw;
    /* margin-bottom: 1vw; */
}
.print3d-info .upload-area i{
    font-size: 1.6vw;
}
.print3d-info .upload-area:hover {
    background-color: var(--lightergray);
}
.print3d-info .upload-area input{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.print3d-guide {
    position: absolute;
    top: 4vw;
    left: 0;
    z-index: 1;
    overflow: hidden;
}
.print3d-guide img{width: 15vw;}
.print3d-stat{
    position: absolute;
    bottom: 0.5vw;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    left: 0;
}
.print3d-stat .item{
    width: 25%;
    float: right;
    text-align: center;
    font-size: 1vw;
}
.print3d-stat .item i{
    padding-left: 0.5vw;
    color: var(--pink);
}
.print3d-stat .item .label{
    display: inline;
    color: var(--pink);
    padding-left: 0.5vw;
}
.print3d-stat .item .val{
    display: inline;
    color: var(--text);
    direction: ltr;
}
.print3d-info .item{
    overflow: hidden;
}
.print3d-info .item .label{
    float: right;
    width: 20%;
    margin: 0;
    text-align: right;
    font-weight: bold;
    padding-top: 0.3vw;
}
.print3d-info .item .val{
    float: right;
    width: 60%;
    margin: 0;
    text-align: right;
}
.print3d-info .item .val.price{
    color: var(--green);
    font-size: 1.2vw;
    font-weight: bold;
    margin-bottom: 2vw;
}
.print3d-info .item .val select.hide{
    display: none;
}
.print3d-info .item .val select,
.print3d-info .item .val input{
    display: block;
    margin: 0;
    border: none;
    outline: none;
    background-color: var(--lightgray);
    padding: 0.7vw 1vw;
    margin-bottom: 1vw;
    border-radius: 0.5vw;
    font-family: 'iransans';
    font-size: 1vw;
}
.print3d-info .item .val select{
    width: 60%;
    color: var(--dark);
}
.print3d-info .item .val input{
    width: 50%;
    text-align: center;
    color: var(--dark);
}
.print3d-info .item input.title{
    display: block;
    margin: 0;
    border: none;
    outline: none;
    background-color: var(--lightgray);
    padding: 0.9vw 1vw;
    margin-bottom: 1vw;
    border-radius: 0.5vw;
    font-family: 'iransans';
    font-size: 1vw;
    width: 80%;
    color: var(--dark);
    font-weight: bold;
}
h1.print3d-title{
    font-size: 1.3vw;
    color: var(--purple);
    width: 90%;
    margin: auto;
    margin-top: 2vw;
}

/* -------------------------------------- Responsive Until Here ------------------------------------------- */

@media only screen and (max-width: 800px) {
    .product-view{
    width: 95%;
    flex-direction: column;
    }
    .product-view .product-cont-view{
        width: 100%;
        border-radius: 3vw;
    }
    .product-view .sidebar-view{
        width: 100%;
    }
    .product-view .sidebar{
        border-radius: 3vw;
    }
    .product-view .product-cont-view .content{
        border-radius: 3vw;
    }
    .product-view h1.preview-title{
        font-size: 3.3vw;
        padding: 3vw 6vw;
    }
    .product-view .sidebar .user-info h1{
        font-size: 3.3vw;
        padding: 3vw 6vw;
    }
    .product-view .sidebar .user-info .info a.edit{
        font-size: 2.9vw;
        margin-bottom: 6vw;
    }
    .product-view .sidebar .user-info .info a.edit i{
        padding-left: 1.5vw;
    }
    .product-view .sidebar .nav-view a.link{
        padding: 1.5vw 3vw;
        border-bottom: 0.3vw solid var(--lightergray);
        font-size: 3vw;
    }
    .stl_cont{
        height: 50vh;
    }
    
    .print3d-info h1{
        font-size: 3.2vw;
        margin: 6vw 0;
        margin-bottom: 1.6vw;
    }
    .print3d-info h1 i{
        padding-left: 1.5vw;
    }
    .print3d-info p{
        font-size: 3vw;
        margin-bottom: 3vw;
    }
    .print3d-info .label{
        font-size: 3.1vw;
        margin-bottom: 9vw;
    }
    .print3d-info .submit {
        margin-bottom: 6vw;
    }
    .print3d-info .submit button{
        border-radius: 3vw;
        padding: 1.8vw 0;
        font-size: 3.2vw;
    }
    .print3d-info .submit button i{
        padding-left: 3vw;
    }
    .print3d-info .upload-area{
        border: 0.8vw dashed var(--blue);
        padding: 6vw 0;
        font-size: 3.3vw;
        border-radius: 3vw;
    }
    .print3d-info .upload-area i{
        font-size: 3.6vw;
    }
    .print3d-guide {
        top: 13vw;
    }
    .print3d-guide img{width: 25vw;}
    .print3d-stat{
        bottom: 1.5vw;
    }
    .print3d-stat .item{
        width: 50%;
        font-size: 3vw;
    }
    .print3d-stat .item i{
        padding-left: 1.5vw;
    }
    .print3d-stat .item .label{
        padding-left: 3.5vw;
    }
    .print3d-info .item .label{
        width: 30%;
        padding-top: 1vw;
    }
    .print3d-info .item .val{
        width: 70%;
    }
    .print3d-info .item .val.price{
        font-size: 3.2vw;
        margin-bottom: 6vw;
    }
    .print3d-info .item .val select,
    .print3d-info .item .val input{
        display: block;
        margin: 0;
        border: none;
        outline: none;
        background-color: var(--lightgray);
        padding: 1.7vw 3vw;
        margin-bottom: 3vw;
        border-radius: 2vw;
        font-family: 'iransans';
        font-size: 3vw;
    }
    .print3d-info .item input.title{
        display: block;
        margin: 0;
        border: none;
        outline: none;
        background-color: var(--lightgray);
        padding: 1.9vw 3vw;
        margin-bottom: 3vw;
        border-radius: 2vw;
        font-size: 3vw;
    }
    h1.print3d-title{
        font-size: 3.3vw;
        color: var(--purple);
        width: 90%;
        margin: auto;
        margin-top: 2vw;
    }
}