@media only screen and (min-width: 800px) {
    footer{
        background-color: var(--dark);
        overflow: hidden;
    }
    footer h1.slogan{
        color: white;
        text-align: center;
        margin-top: 3vw;
        font-size: 1vw;
        font-weight: normal;
        font-family: 'iransans';
    }
    footer .contact-list{
        overflow: hidden;
        margin-top: 1vw;
        text-align: right;
    }
    footer .contact-list a{
        text-decoration: none;
        color: var(--lightgray);
        font-size: 2vw;
        margin-left: 0.5vw;
        transition-duration: 500ms;
    }
    footer .contact-list a:hover{
        color: var(--blue);
    }
    footer .developer-info{
        color: var(--light);
        font-weight: normal;
        font-size: 0.9vw;
        text-align: center;
        margin-top: 3vw;
        margin-bottom: 1vw;
    }
    footer .four-part-view{
        overflow: hidden;
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 1vw auto;
    }
    footer .four-part-view .part{
        width: 25%;
        
    }
    footer .four-part-view .part h1{
        font-family: 'iransans';
        color: white;
        font-size: 1.2vw;
    }
    footer .four-part-view .part a.link{
        display: block;
        width: fit-content;
        font-size: 1vw;
        margin-bottom: 0.3vw;
        color: white;
    }
    footer .four-part-view .part a.link:hover{
        color: var(--blue);
    }
    footer .four-part-view .part .note{
        font-size: 1vw;
        text-align: justify;        
        color: white;
    }
    footer .four-part-view .part .note .bold{
        color: var(--red);
        display: inline;
        padding-left: 0.3vw;
    }
    footer .four-part-view .part .note .text{
        display: inline;
    }
    .address{
        font-size: 1vw;
        color: white;
        text-align: justify;
    }
    .address i{
        padding-left: 0.4vw;
    }
    footer .contact-list img{
        width: 3vw;
    }
    
    .phone{
        font-size: 1vw;
        color: white;
        text-align: justify;
    }
    .phone i{
        padding-left: 0.4vw;
    }
    .phone a{
        color: white;
    }
    .phone a:hover{
        color: var(--blue);
    }
    /* -------------------------------------- Responsive Until Here ------------------------------------------- */
}
@media only screen and (max-width: 800px) {
    footer{
        background-color: var(--dark);
        overflow: hidden;
    }
    footer h1.slogan{
        color: white;
        text-align: center;
        margin-top: 9vw;
        font-size: 3vw;
        font-weight: normal;
        font-family: 'iransans';
    }
    footer .contact-list{
        overflow: hidden;
        margin-top: 2vw;
        text-align: right;
    }
    footer .contact-list a{
        text-decoration: none;
        color: var(--lightgray);
        font-size: 5vw;
        margin-left: 1.5vw;
        transition-duration: 500ms;
    }
    footer .contact-list a:hover{
        color: var(--blue);
    }
    footer .developer-info{
        color: var(--light);
        font-weight: normal;
        font-size: 2.9vw;
        text-align: center;
        margin-top: 9vw;
        margin-bottom: 1vw;
    }

    footer .four-part-view{
        width: 90%;
        margin: 3vw auto;
        overflow: hidden;
    }
    footer .four-part-view .part{
        width: 50%;
        float: right;
        margin-bottom: 5vw;
    }
    footer .four-part-view .part h1{
        font-family: 'iransans';
        font-size: 3.2vw;
        color: white;
    }
    footer .four-part-view .part a.link{
        display: block;
        width: fit-content;
        font-size: 3vw;
        margin-bottom: 0.3vw;
        color: white;
    }
    footer .four-part-view .part a.link:hover{
        color: var(--blue);
    }
    footer .four-part-view .part .note{
        font-size: 3vw;
        text-align: justify;        
        color: white;
    }
    footer .four-part-view .part .note .bold{
        color: var(--red);
        display: inline;
        padding-left: 0.3vw;
    }
    footer .four-part-view .part .note .text{
        display: inline;
    }
    .address{
        font-size: 3vw;
        text-align: justify;
        color: white;
    }
    .address i{
        padding-left: 1vw;
    }
    footer .contact-list img{
        width: 9vw;
    }

    .phone{
        font-size: 3vw;
        color: white;
        text-align: justify;
    }
    .phone i{
        padding-left: 1vw;
    }
    .phone a{
        color: white;
    }
    .phone a:hover{
        color: var(--blue);
    }
}
