@media only screen and (min-width: 800px) {
    .form-view {
        width: 90%;
        margin: 1vw auto;
        position: relative;
    }
    .form-view.simple {
        width: 100%;
        margin: 0;
    }
    .form-view form{
        margin-bottom: 5vw;
        display: block;
    }
    .form-view .raw input.full,
    .form-view .raw select.full{
        display: inline;
        margin: auto;
        border: none;
        outline: none;
        background-color: var(--antiflashWhite);
        width: 90%;
        padding: 0.7vw 1.5vw;
        margin-bottom: 1vw;
        border-radius: 0.4vw;
        font-family: 'iransans';
        margin-left: 1vw;
        color: var(--black);
    }
    .form-view .raw input.dual,
    .form-view .raw select.dual{
        display: inline;
        margin: auto;
        border: none;
        outline: none;
        background-color: var(--antiflashWhite);
        width: 40%;
        padding: 0.7vw 1.5vw;
        margin-bottom: 1vw;
        border-radius: 0.4vw;
        font-family: 'iransans';
        margin-left: 1vw;
        color: var(--black);
    }
    .form-view .raw input.quarter,
    .form-view .raw select.quarter{
        display: inline;
        margin: auto;
        border: none;
        outline: none;
        background-color: var(--antiflashWhite);
        width: 18.7%;
        padding: 0.7vw 1vw;
        margin-bottom: 1vw;
        border-radius: 0.4vw;
        font-family: 'iransans';
        margin-left: 1vw;
        color: var(--black);
        font-size: 1vw;
    }
    .form-view .raw select.quarter{width: 23%;}
    .form-view .raw .rawlabel{
        color: var(--text);
        font-size: 1vw;
        padding-bottom: 0.6vw;
    }
    .form-view .raw textarea.short,
    .form-view .raw textarea.long{
        display: inline;
        margin: auto;
        border: none;
        outline: none;
        background-color: var(--antiflashWhite);
        width: 89%;
        padding: 1vw 1.5vw;
        margin-bottom: 0.5vw;
        border-radius: 0.4vw;
        font-family: 'iransans';
        margin-left: 1vw;
        resize: vertical;
        font-size: 1vw;
        color: var(--black);
    }
    .form-view .raw textarea.short{height: 4vw;}
    .form-view .raw textarea.long{height: 10vw;}
    .form-view .raw .label-quarter{
        display: inline-block;
        width: 14%;
        color: var(--text);
        font-size: 1vw;
    }
    .form-view .raw .label-quarter i{padding-left: 0.5vw;}
    .form-view .raw .label-quarter.pad{padding-right: 5vw;}
    .form-view button{
        display: block;
        width: fit-content;
        padding: 0.4vw 2vw;
        font-size: 1vw;
        border-radius: 0.4vw;
        color: white;
        border: none;
        font-family: 'iransans';
        margin-top: 0.6vw;
        margin-left: 5%;
    }
    .form-view button.inline{
        display: inline;
    }
    .form-view button.blue{background-color: var(--blue);}
    .form-view button.red{background-color: var(--red);}
    .form-view button.green{background-color: var(--green);}
    .form-view button:hover{
        cursor: pointer;
        background-color: var(--pink);
    }
    .form-view button i{padding-left: 0.5vw;}
    .form-view .date-input{
        display: block;
        width: 45%;
        background-color: var(--antiflashWhite);
        border-radius: 0.4vw;
        overflow: hidden;
    }
    .form-view .date-input .label{
        display: block;
        font-size: 1vw;
        float: right;
        padding: 0.7vw 1vw;
        width: 20%;
        color: var(--black);
    }
    .form-view .date-input input{
        background-color: transparent;
        display: block;
        float: right;
        margin: auto;
        border: none;
        outline: none;
        width: 20%;
        padding: 0.7vw 0;
        /* margin-bottom: 1vw; */
        font-family: 'iransans';
        /* margin-left: 1vw; */
        text-align: center;
    }
    .form-view .upload-area{
        border: 0.25vw dashed lightblue;
        position: relative;
        cursor: pointer;
        padding: 2vw 0;
        text-align: center;
        color: #798AAF;
        font-family: 'iransans';
        font-size: 1.3vw;
        width: 94%;
        border-radius: 0.4vw;
        /* margin-bottom: 1vw; */
    }
    .form-view .upload-area i{
        font-size: 1.6vw;
    }
    .form-view .upload-area:hover {
        background-color: var(--antiflashWhite);
    }
    .form-view .upload-area input{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    .form-view .upload-area.absolute{
        position: absolute;
        top: 0;
        left: 4vw;
        width: 15vw;
        height: 8vw;
        padding-top: 6vw;
    }
}
@media only screen and (max-width: 800px) {
    .form-view {
        width: 90%;
        margin: 3vw auto;
        position: relative;
    }
    .form-view.simple {
        width: 100%;
        margin: 0;
    }
    .form-view form{
        margin-bottom: 10vw;
        display: block;
    }
    .form-view .raw input.dual,
    .form-view .raw select.dual{
        display: inline;
        margin: auto;
        border: none;
        outline: none;
        background-color: var(--antiflashWhite);
        width: 60%;
        padding: 2vw 3.5vw;
        margin-bottom: 3vw;
        border-radius: 1vw;
        font-family: 'iransans';
        margin-left: 3vw;
        color: var(--black);
        font-size: 3vw;
    }
    .form-view .raw input.quarter,
    .form-view .raw select.quarter{
        display: inline;
        margin: auto;
        border: none;
        outline: none;
        background-color: var(--antiflashWhite);
        width: 60%;
        padding: 2vw 3vw;
        margin-bottom: 3vw;
        border-radius: 1vw;
        font-family: 'iransans';
        margin-left: 3vw;
        color: var(--black);
        font-size: 3vw;
    }
    .form-view .raw select.quarter{width: 66%;}
    .form-view .raw .rawlabel{
        color: var(--text);
        font-size: 3vw;
        padding-bottom: 2vw;
    }
    .form-view .raw textarea.short,
    .form-view .raw textarea.long{
        display: inline;
        margin: auto;
        border: none;
        outline: none;
        background-color: var(--antiflashWhite);
        width: 89%;
        padding: 2vw 3vw;
        margin-bottom: 1vw;
        border-radius: 1vw;
        font-family: 'iransans';
        margin-left: 3vw;
        resize: vertical;
        font-size: 3vw;
        color: var(--black);
    }
    .form-view .raw textarea.short{height: 15vw;}
    .form-view .raw textarea.long{height: 30vw;}
    .form-view .raw .label-quarter{
        display: inline-block;
        width: 25%;
        color: var(--text);
        font-size: 3vw;
    }
    .form-view .raw .label-quarter i{padding-left: 2vw;}
    /* .form-view .raw .label-quarter.pad{padding-right: 5vw;} */
    .form-view button{
        display: block;
        width: fit-content;
        padding: 2vw 4vw;
        font-size: 3vw;
        border-radius: 1vw;
        color: white;
        border: none;
        font-family: 'iransans';
        margin-top: 3vw;
        margin-left: 5%;
    }
    .form-view button.inline{
        display: inline;
    }
    .form-view button.blue{background-color: var(--blue);}
    .form-view button.red{background-color: var(--red);}
    .form-view button.green{background-color: var(--green);}
    .form-view button:hover{
        cursor: pointer;
        background-color: var(--pink);
    }
    .form-view button i{padding-left: 0.5vw;}
    .form-view .date-input{
        display: block;
        width: 45%;
        background-color: var(--antiflashWhite);
        border-radius: 1vw;
        overflow: hidden;
    }
    .form-view .date-input .label{
        display: block;
        font-size: 1vw;
        float: right;
        padding: 0.7vw 1vw;
        width: 20%;
        color: var(--black);
    }
    .form-view .date-input input{
        background-color: transparent;
        display: block;
        float: right;
        margin: auto;
        border: none;
        outline: none;
        width: 20%;
        padding: 0.7vw 0;
        /* margin-bottom: 1vw; */
        font-family: 'iransans';
        /* margin-left: 1vw; */
        text-align: center;
    }
    .form-view .upload-area{
        border: 0.6vw dashed lightblue;
        position: relative;
        cursor: pointer;
        padding: 3vw 0;
        text-align: center;
        color: #798AAF;
        font-family: 'iransans';
        font-size: 3.3vw;
        width: 94%;
        border-radius: 1vw;
        /* margin-bottom: 1vw; */
    }
    .form-view .upload-area i{
        font-size: 3.6vw;
    }
    .form-view .upload-area:hover {
        background-color: var(--antiflashWhite);
    }
    .form-view .upload-area input{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    .form-view .upload-area.absolute{
        width: 95%;
        height: 8vw;
        padding-top: 6vw;
    }
    .form-view .clock-select{
        display: block;
        margin: auto;
        border: none;
        outline: none;
        background-color: var(--antiflashWhite);
        width: 36%;
        padding: 2vw 5%;
        margin-bottom: 3vw;
        border-radius: 4vw;
        font-family: 'iransans';
        margin-left: 3vw;
        color: var(--black);
        width: 90%;
        font-size: 7vw;
    }
    .form-view .clock-select select{
        border: none;
        font-size: 7vw;
        text-align: center;
        width: 23%;
        margin: 0 4%;
        background-color: transparent;
    }
    .form-view button.fullsize{
        width: 100%;
        margin-top: 10vw;
        display: block;
        font-size: 4vw;
        padding: 3vw 0;
        border-radius: 4vw;
    }
    .form-view button.fullsize i{padding-left: 1vw;}
}
