@media only screen and (min-width: 800px) {
    .data-list-view{
        width: 90%;
        margin: 1vw auto;
    }
    .data-list-view .raw{
        margin-bottom: 0.5vw;
        box-shadow: 0 0.4vw 0.5vw 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);;
        overflow: hidden;
        border-radius: 0.5vw;
        /* background-color: var(--lighterblue); */
    }
    .data-list-view .title-raw{
        margin-bottom: 0.5vw;
        overflow: hidden;
        border-radius: 0.5vw;
        /* background-color: var(--lighterblue); */
    }
    .data-list-view .raw:hover{
        box-shadow: 0 0.7vw 1vw 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);;
    }
    .data-list-view .raw .item{
        float: right;
        font-size: 1vw;
        padding: 0.3vw 0;
        color: var(--text);
    }
    .data-list-view .title-raw .item{
        float: right;
        font-size: 1vw;
        padding: 0.3vw 0;
        color: var(--lightgray);
    }
    .data-list-view .raw .item i.icon{
        padding: 0 0.5vw;
        color: var(--skyblue);
    }
    .data-list-view .item.bold{font-weight: bold;}
    .data-list-view .item.center{text-align: center;}
    .data-list-view .item.col5 {width:  5%;}
    .data-list-view .item.col10{width: 10%;}
    .data-list-view .item.col15{width: 15%;}
    .data-list-view .item.col20{width: 20%;}
    .data-list-view .item.col25{width: 25%;}
    .data-list-view .item.col30{width: 30%;}
    .data-list-view .item.col35{width: 35%;}
    .data-list-view .item.col40{width: 40%;}
    .data-list-view .item.col45{width: 45%;}
    .data-list-view .item.col50{width: 50%;}
    .data-list-view .item.col55{width: 55%;}
    .data-list-view .item.col60{width: 60%;}
    .data-list-view .item.col65{width: 65%;}
    .data-list-view .item.col70{width: 70%;}
    .data-list-view .item.col75{width: 75%;}
    .data-list-view .item.col80{width: 80%;}
    .data-list-view .item.col85{width: 85%;}
    .data-list-view .item.col90{width: 90%;}
    .data-list-view .item.col95{width: 95%;}
    .data-list-view .item a.delete{color: var(--red);}
    .data-list-view .item a.delete:hover{color: var(--pink);}
    .data-list-view h1.title{
        color: var(--black);
        font-size: 1vw;
        text-align: center;
    }
    .data-list-view.file{
        width: 100%;
        text-align: left;
    }
    .data-list-view.file .raw{
        border-radius: 0;
        box-shadow: none;
        border: 0.1vw solid var(--lightgray);
        margin: 0;
    }
    .data-list-view.file .raw .item{
        float: left;
        font-size: 0.8vw;
        padding: 0.6vw 0;
    }
    .data-list-view.file .raw .item:hover{
        background-color: var(--lightergray);
    }
    .data-list-view.file .raw .item i{
        padding: 0 1vw;
    }
    /* -------------------------------------- Responsive Until Here ------------------------------------------- */
}
@media only screen and (max-width: 800px) {
    .data-list-view{
        width: 90%;
        margin: 1vw auto;
    }
    .data-list-view .raw{
        margin-bottom: 0.5vw;
        box-shadow: 0 0.4vw 0.5vw 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);;
        overflow: hidden;
        border-radius: 0.5vw;
        /* background-color: var(--lighterblue); */
    }
    .data-list-view .title-raw{
        margin-bottom: 0.5vw;
        overflow: hidden;
        border-radius: 0.5vw;
        /* background-color: var(--lighterblue); */
    }
    .data-list-view .raw:hover{
        box-shadow: 0 0.7vw 1vw 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);;
    }
    .data-list-view .raw .item{
        float: right;
        font-size: 1vw;
        padding: 0.3vw 0;
        color: var(--text);
    }
    .data-list-view .title-raw .item{
        float: right;
        font-size: 1vw;
        padding: 0.3vw 0;
        color: var(--lightgray);
    }
    .data-list-view .raw .item i.icon{
        padding: 0 0.5vw;
        color: var(--skyblue);
    }
    .data-list-view .item.bold{font-weight: bold;}
    .data-list-view .item.center{text-align: center;}
    .data-list-view .item.col5 {width:  5%;}
    .data-list-view .item.col10{width: 10%;}
    .data-list-view .item.col15{width: 15%;}
    .data-list-view .item.col20{width: 20%;}
    .data-list-view .item.col25{width: 25%;}
    .data-list-view .item.col30{width: 30%;}
    .data-list-view .item.col35{width: 35%;}
    .data-list-view .item.col40{width: 40%;}
    .data-list-view .item.col45{width: 45%;}
    .data-list-view .item.col50{width: 50%;}
    .data-list-view .item.col55{width: 55%;}
    .data-list-view .item.col60{width: 60%;}
    .data-list-view .item.col65{width: 65%;}
    .data-list-view .item.col70{width: 70%;}
    .data-list-view .item.col75{width: 75%;}
    .data-list-view .item.col80{width: 80%;}
    .data-list-view .item.col85{width: 85%;}
    .data-list-view .item.col90{width: 90%;}
    .data-list-view .item.col95{width: 95%;}
    .data-list-view .item a.delete{color: var(--red);}
    .data-list-view .item a.delete:hover{color: var(--pink);}
    .data-list-view h1.title{
        color: var(--black);
        font-size: 1vw;
        text-align: center;
    }
    .data-list-view.file{
        width: 100%;
        text-align: left;
    }
    .data-list-view.file .raw{
        border-radius: 0;
        box-shadow: none;
        border: 0.1vw solid var(--lightgray);
        margin: 0;
    }
    .data-list-view.file .raw .item{
        float: left;
        font-size: 0.8vw;
        padding: 0.6vw 0;
    }
    .data-list-view.file .raw .item:hover{
        background-color: var(--lightergray);
    }
    .data-list-view.file .raw .item i{
        padding: 0 1vw;
    }
}
