.sidebar
    .user-info 
        h1.single ثبت سفارش
    .nav-view 
        a.link#sidebar-link1(href="/elecrepair")
            i.fa.fa-server
            | پاور سوئیچینگ
        a.link#sidebar-link2(href="/elecrepair")
            i.fa.fa-server
            | بورد کنترلر
        a.link#sidebar-link3(href="/elecrepair")
            i.fa.fa-server
            | ماژول تابلو روان
        a.link#sidebar-link5(href="/elecrepair")
            i.fa.fa-refresh
            | پیگیری سفارش
        a.link#sidebar-link5(href="/elecrepair")
            i.fa.fa-headphones
            | پشتیبانی
.sidebar-collapse-btn#sidebar-collapse-btn
    i.fa.fa-chevron-left