
.sidebar-view h1.title {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0.6vw 2vw;
    background-color: var(--skyblue);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.sidebar-view .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1vw 2vw;
}
.sidebar-view .links a{
    border-bottom: 2px solid var(--lightergray);
    padding: 5px 0;
}
.sidebar{
    background-color: var(--white);
    border-radius: 10px;
    margin-bottom: 20px;
}