@media only screen and (min-width: 800px) {
    .sms-panel h1{
        width: 90%;
        color: var(--blue);
        font-size: 1.1vw;
        margin: 1vw auto;
    }
    /* -------------------------------------- Responsive Until Here ------------------------------------------- */
}
@media only screen and (max-width: 800px) {
    .sms-panel h1{
        width: 90%;
        color: var(--blue);
        font-size: 3.1vw;
        margin: 1vw auto;
    }
}






