@media only screen and (min-width: 800px) {
    .content h1.title{
        color: var(--red);
        font-size: 1.2vw;
        margin: 0;
        padding: 2vw 3vw;
        position: relative;    
        margin-bottom: 1vw;    
    }
    .content h1.title i{
        padding-left: 0.5vw;
    }
    .content h1.title .stat{
        position: absolute;
        color: var(--text);
        left: 3vw;
        top: 1.2vw;
        font-weight: normal;
        font-size: 1vw;
    }
    .content h1.title a.add{
        font-size: 1vw;
        color: white;
        background-color: var(--red);
        margin-right: 3vw;
        padding: 0.2vw 1vw;
        border-radius: 0.7vw;
        font-weight: normal;
    }
    .content h1.title a.add:hover{
        background-color: var(--pink);
    }
    .content h1.title a.add i{
        font-size: 0.8vw;
    }
    .searchbar{
        position: absolute;
        left: 3vw;
        top: 1.8vw;
    }
    .searchbar input.text{
        border: none;
        background-color: var(--lightergray);
        font-family: 'iransans';
        padding: 0.5vw 2vw;
        font-size: 1vw;
        border-top-right-radius: 1vw;
        border-bottom-right-radius: 1vw;
        outline: none;
        width: 17vw;
    }
    .searchbar button.submit{
        background-color: var(--red);
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
        border: none;
        padding: 0.5vw 1vw;
        font-size: 1vw;
        color: white;
        font-family: 'iransans';
        outline: none;
        cursor: pointer;
    }
    .searchbar button:hover{
        background-color: var(--pink);
    }

}
@media only screen and (max-width: 800px) {

    .content h1.title{
        color: var(--red);
        font-size: 3.2vw;
        margin: 0;
        padding: 4vw 3vw;
        position: relative;    
        margin-bottom: 10vw;    
    }
    .content h1.title i{
        padding-left: 1.5vw;
    }
    .content h1.title .stat{
        position: absolute;
        color: var(--text);
        left: 3vw;
        top: 1.2vw;
        font-weight: normal;
        font-size: 1vw;
    }
    .content h1.title a.add{
        font-size: 3vw;
        color: white;
        background-color: var(--red);
        margin-right: 3vw;
        padding: 0.7vw 3vw;
        border-radius: 1.7vw;
        font-weight: normal;
    }
    .content h1.title a.add:hover{
        background-color: var(--pink);
    }
    .content h1.title a.add i{
        font-size: 2.8vw;
    }
    .searchbar{
        position: absolute;
        left: 5vw;
        top: 14vw;
    }
    .searchbar input.text{
        border: none;
        background-color: var(--lightergray);
        font-family: 'iransans';
        padding: 2vw 5vw;
        font-size: 3vw;
        border-top-right-radius: 3vw;
        border-bottom-right-radius: 3vw;
        outline: none;
        width: 65vw;
    }
    .searchbar button.submit{
        background-color: var(--red);
        border-top-left-radius: 3vw;
        border-bottom-left-radius: 3vw;
        border: none;
        padding: 2vw 3vw;
        font-size: 3vw;
        color: white;
        font-family: 'iransans';
        outline: none;
        cursor: pointer;
    }
    .searchbar button:hover{
        background-color: var(--pink);
    }
}