link(rel="stylesheet", href="/css/blog/sidebar.css")

.sidebar
    h1.title بسته آموزش ربات کنترلی
    .links
        .product-view
            a.card.triple(href="/products/product-view?id=69504900a9efa54f7d3443e9")
                .image 
                    img(src="/img/projects/smars/03.jpg", alt="" loading="lazy")
                h1 بسته آموزشی ربات کنترلی با موبایل
                .available.green موجود
                .nodiscount
                    .val 4.900.000
                    .unit تومان
                .info 
                    .price
                        .val 3.900.000
                        .unit تومان
                    .buy-btn 
                        i.fa.fa-shopping-cart
                        | خرید
.sidebar
    h1.title لیست قطعات
    .links
        a(href="/products/product-view?id=66d96034e2a30b2f13d0136a") آردوینو UNO R3 CH340
        a(href="/products/product-view?id=") شیلد درایور L293 UNO
        a(href="/products/product-view?id=") کابل آردوینو UNO
        a(href="/products/product-view?id=6723e23494e23685f35add68") باتری لیتیوم پلیمر 800mAh (703040)
        a(href="/products/product-view?id=66d972960bfc75a804d86812") سنسور فاصله SRF04
        a(href="/products/product-view?id=66d973270bfc75a804d86859") ماژول بلوتوث HC05
        a(href="/products/product-view?id=68b7ea4ec0dadfec2b24a63d") ماژول افزاینده ولتاژ MT3608
        a(href="/products/product-view?id=67266076a94192ca82c36b6b") ماژول شارژ باتری لیتیوم با مدار محافظ
        a(href="/products/product-view?id=") پین هدر بلند 2 پین
        a(href="/products/product-view?id=66d9674be2a30b2f13d015c4") موتور ZGA12 100RPM
        a(href="/products/product-view?id=") کانکتور XH سیم دار 2pin
        a(href="/products/product-view?id=672f82b0b40b32d8f3c8e3b2") سیم ماده به ماده 4 پین
        a(href="/print3d") پرینت سه بعدی شاسی
        