link(rel="stylesheet", href="/css/blog/sidebar.css")

.sidebar
    h1.title لیست قطعات
    .links
        a(href="") آردوینو UNO R3 CH340
        a(href="") شیلد درایور L293 UNO
        a(href="") کابل آردوینو UNO
        a(href="") باتری لیتیوم پلیمر 800mAh (703040)
        a(href="") سنسور فاصله SRF04
        a(href="") ماژول بلوتوث HC05
        a(href="") ماژول افزاینده ولتاژ MT3608
        a(href="") ماژول شارژ باتری لیتیوم با مدار محافظ
        a(href="") پین هدر بلند 2 پین
        a(href="") موتور ZGA12 100RPM
        a(href="") کانکتور XH سیم دار 2pin
        a(href="") سیم ماده به ماده 4 پین
        a(href="") پرینت سه بعدی شاسی
.sidebar
    h1.title 
    .links
        