body{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'iransans';
    /* direction: ltr; */
    background-color: var(--white);
    direction: rtl;
    text-align: right;
    background-color: var(--lightergray);
}
@media only screen and (min-width: 800px) {
    .product-view{
        /* background-color: var(--lightergray); */
        width: 90%;
        margin: 2vw auto;
        overflow: hidden;
        padding: 0;
        margin-bottom: 2vw;
    }
    .product-view .product-cont-view{
        float: left;
        width: 75%;
    }
    .product-view .sidebar-view{
        width: 25%;
        float: left;
    }
    .product-view .sidebar{
        width: 95%;
        margin: 1vw auto;
        background-color: var(--white);
        border-radius: 1vw;
        overflow: hidden;
    }
    .product-view .product-cont-view .content{
        width: 90%;
        margin: 1vw auto;
        background-color: var(--white);
        border-radius: 1vw;
        overflow: hidden;
    }
    .product-view .sidebar .user-info{
        background-color: var(--red);
        color: white;
        overflow: hidden;
    }
    .product-view .sidebar .user-info h1{
        font-size: 1vw;
        /* margin-top: 2.1vw; */
        /* margin-bottom: 0.5vw; */
        margin: 0;
        padding: 0.5vw 2vw;
    }
    .product-view .sidebar .user-info .info a.edit{
        color: var(--lightergray);
        font-size: 0.9vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        display: block;
    }
    .product-view .sidebar .user-info .info a.edit:hover{
        color: var(--blue);
    }
    .product-view .sidebar .user-info .info a.edit i{
        padding-left: 0.5vw;
    }
    .product-view .sidebar .nav-view a.link{
        display: block;
        color: var(--text);
        padding: 0.5vw 1vw;
        border-bottom: 0.1vw solid var(--lightergray);
        font-size: 1vw;
        background-color: var(--white);
    }
    .product-view .sidebar .nav-view a.link.active{
        color: var(--red);
    }
    .product-view .sidebar .nav-view a.link:hover{
        background-color: var(--light);
    }
    .product-view .sidebar .nav-view a.link i{
        padding-left: 1vw;
        color: var(--lightgray);
    }
    .product-view .sidebar .nav-view a.link:hover i{
        color: var(--red);
    }
    .product-view .sidebar .nav-view a.logout{
        display: block;
        color: var(--red);
        text-align: center;
        padding: 0.8vw 1vw;
        font-size: 1.1vw;
        background-color: var(--white);
    }
    .product-view .sidebar .nav-view a.logout:hover{
        /* background-color: var(--lightergray); */
        color: var(--blue);
    }
    .product-view .content .sort-control{
        position: relative;
    }
    .product-view .content .sort-control h1{
        font-size: 1vw;
        margin: 0;
        padding: 1.5vw 3vw;
        padding-right: 1vw;
        margin-bottom: 1vw;
        color: var(--text);
    }
    .product-view .content .sort-control h1 a{
        color: var(--lightgray);
        font-size: 0.8vw;
        display: inline;
        padding: 0 0.6vw;
        border-left: 0.1vw solid var(--lightgray);
    }
    .product-view .content .sort-control h1 a.last{border: none;}
    .product-view .content .sort-control h1 a:hover{
        color: var(--red);
    }
    .product-view .content .sort-control h1 .line{
        display: inline;
        width: 0.1vw;
        height: 1vw;
        background-color: var(--lightgray);
    }
    .searchbar{
        position: absolute;
        left: 2vw;
        top: 1.2vw;
    }
    .searchbar input.text{
        border: none;
        background-color: var(--lightergray);
        font-family: 'iransans';
        padding: 0.5vw 2vw;
        font-size: 1vw;
        border-top-right-radius: 1vw;
        border-bottom-right-radius: 1vw;
        outline: none;
        width: 12vw;
    }
    .searchbar button.submit{
        background-color: var(--red);
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
        border: none;
        padding: 0.5vw 1vw;
        font-size: 1vw;
        color: white;
        font-family: 'iransans';
        outline: none;
        cursor: pointer;
    }
    .searchbar button:hover{
        background-color: var(--pink);
    }
    .filters-view {
        overflow: hidden;
        width: 95%;
        margin: auto;
        margin-top: 1vw;
    }
    .filters-view  a.remove-filter{
        background-color: var(--red);
        color: var(--white);
        display: block;
        float: right;
        margin-left: 0.5vw;
        font-size: 0.8vw;
        font-weight: normal;
        padding: 0.3vw 0.6vw;
        border-radius: 0.8vw;
    }
    .filters-view a.remove-filter i{
        padding-right: 0.5vw;
    }
    /* -------------------------------------- Responsive Until Here ------------------------------------------- */
}
@media only screen and (max-width: 800px) {
    .product-view{
        /* background-color: var(--lightergray); */
        width: 100%;
        margin: 2vw auto;
        overflow: hidden;
        padding: 0;
        margin-bottom: 2vw;
    }
    .product-view .product-cont-view{
        float: left;
        width: 100%;
    }
    .product-view .sidebar-view{
        width: 100%;
        float: left;
    }
    .product-view .sidebar{
        width: 90%;
        margin: 3vw auto;
        background-color: var(--white);
        border-radius: 2vw;
        overflow: hidden;
    }
    .product-view .product-cont-view .content{
        width: 90%;
        margin: 4vw auto;
        background-color: var(--white);
        border-radius: 1vw;
        overflow: hidden;
    }
    .product-view .sidebar .user-info{
        background-color: var(--red);
        color: white;
        overflow: hidden;
    }
    .product-view .sidebar .user-info h1{
        font-size: 3vw;
        /* margin-top: 2.1vw; */
        /* margin-bottom: 0.5vw; */
        margin: 0;
        padding: 1.5vw 4vw;
    }
    .product-view .sidebar .user-info .info a.edit{
        color: var(--lightergray);
        font-size: 2.9vw;
        margin: 0;
        padding: 0;
        margin-bottom: 2vw;
        display: block;
    }
    .product-view .sidebar .user-info .info a.edit:hover{
        color: var(--blue);
    }
    .product-view .sidebar .user-info .info a.edit i{
        padding-left: 0.5vw;
    }
    .product-view .sidebar .nav-view a.link{
        display: block;
        color: var(--text);
        padding: 2vw 3vw;
        border-bottom: 0.1vw solid var(--lightergray);
        font-size: 3vw;
        background-color: var(--white);
    }
    .product-view .sidebar .nav-view a.link.active{
        color: var(--red);
    }
    .product-view .sidebar .nav-view a.link:hover{
        background-color: var(--light);
    }
    .product-view .sidebar .nav-view a.link i{
        padding-left: 3vw;
        color: var(--lightgray);
    }
    .product-view .sidebar .nav-view a.link:hover i{
        color: var(--red);
    }
    .product-view .sidebar .nav-view a.logout{
        display: block;
        color: var(--red);
        text-align: center;
        padding: 0.8vw 1vw;
        font-size: 3.1vw;
        background-color: var(--white);
    }
    .product-view .sidebar .nav-view a.logout:hover{
        /* background-color: var(--lightergray); */
        color: var(--blue);
    }
    .product-view .content .sort-control{
        position: relative;
    }
    .product-view .content .sort-control h1{
        font-size: 2.6vw;
        margin: 0;
        padding: 2.5vw 6vw;
        padding-right: 3vw;
        margin-bottom: 15vw;
        color: var(--text);
    }
    .product-view .content .sort-control h1 a{
        color: var(--lightgray);
        font-size: 2.3vw;
        display: inline;
        padding: 0 0.8vw;
        border-left: 0.1vw solid var(--lightgray);
    }
    .product-view .content .sort-control h1 a.last{border: none;}
    .product-view .content .sort-control h1 a:hover{
        color: var(--red);
    }
    .product-view .content .sort-control h1 .line{
        display: inline;
        width: 0.3vw;
        height: 3vw;
        background-color: var(--lightgray);
    }
    .searchbar{
        position: absolute;
        left: 5vw;
        top: 12vw;
    }
    .searchbar input.text{
        border: none;
        background-color: var(--lightergray);
        font-family: 'iransans';
        padding: 2vw 6vw;
        font-size: 3vw;
        border-top-right-radius: 2vw;
        border-bottom-right-radius: 2vw;
        outline: none;
        width: 60vw;
    }
    .searchbar button.submit{
        background-color: var(--red);
        border-top-left-radius: 2vw;
        border-bottom-left-radius: 2vw;
        border: none;
        padding: 2vw 3vw;
        font-size: 3vw;
        color: white;
        font-family: 'iransans';
        outline: none;
        cursor: pointer;
    }
    .searchbar button:hover{
        background-color: var(--pink);
    }
    .filters-view {
        overflow: hidden;
        width: 95%;
        margin: auto;
        margin-top: 3vw;
    }
    .filters-view  a.remove-filter{
        background-color: var(--red);
        color: var(--white);
        display: block;
        float: right;
        margin-left: 1vw;
        font-size: 2.8vw;
        font-weight: normal;
        padding: 1vw 2vw;
        border-radius: 1.8vw;
    }
    .filters-view a.remove-filter i{
        padding-right: 0.5vw;
    }
}






