extends ./layout

block styles
    link(rel="stylesheet", href="/css/animalfeeder/cpanel.css")
    meta(name="theme-color" content="#4361EE")

block content
    .panel-view
        .header-view
            nav 
                a.left(href="#") 
                    i.fa.fa-home
                h1 Pet Feeder
                a.left(href="#") 
                    i.fa.fa-gear
            headear
                .circle
                    i.fa.fa-cat 
                    h1 دستگاه #{feeder.id}

