footer 
    .footer-links-view
        a.link.active(href="#") 
            i.fa.fa-home 
            .text خانه
        a.link(href="#") 
            i.fa.fa-history
            .text تاریخچه
        a.link(href="#") 
            i.fa.fa-user 
            .text حساب کاربری
        a.link(href="#") 
            i.fa.fa-gear 
            .text تنظیمات
        